<%= form_with(model: cart_product) do |form| %>
  <% if cart_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart_product.errors.count, "error") %> prohibited this cart_product from being saved:</h2>

      <ul>
        <% cart_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :carts, style: "display: block" %>
    <%= form.text_field :carts %>
  </div>

  <div>
    <%= form.label :products, style: "display: block" %>
    <%= form.text_field :products %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
