<div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow flex flex-col m-6 p-5">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-4">Sign in</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-4' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'block mb-2 text-sm font-medium text-gray-900' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full p-2.5 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500' %>
    </div>

    <div class="field">
      <div class="flex justify-between items-center mb-2">
        <%= f.label :password, class: 'text-sm font-medium text-gray-900' %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-600">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: 'w-full p-2.5 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'block mb-2 text-sm font-medium text-gray-900' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full p-2.5 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500' %>
    </div>

    <div class="actions flex justify-center">
      <%= f.submit "Sign in", class: 'w-1/2 px-4 py-2 text-white btn-secondary' %>
    </div>
  <% end %>
</div>
