<nav class="bg-pink-900 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <%= link_to root_path, class: 'flex items-center space-x-3 rtl:space-x-reverse text-white' do %>
      <div class="w-16 h-16 fill-current text-white">
        <%= image_tag 'logos/logo_small.svg', alt: 'Logo' %>
      </div>
      <span class="self-center text-2xl font-sans whitespace-nowrap hidden md:block">Coppa & Gabana</span>
    <% end %>
    
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "btn-primary mr-4 hover:text-amber-400 hover:bg-pink-900" do %>
          <i class="fa-solid fa-user"></i> Profile
        <% end %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn-secondary" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn-primary mx-4 pr-4" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn-secondary mx-4" %>
      <% end %>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-amber-500 focus:outline-none focus:ring-2 focus:bg-amber-500" aria-controls="navbar-sticky" aria-expanded="false" id="burger-menu">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 md:space-x-14 rtl:space-x-reverse md:flex-row md:mt-0 font-sans">
        <li>
          <%= link_to root_path, class: 'block py-2 px-3 text-white font-bold hover:text-amber-400', aria_current: 'page' do %>
            <i class="fa-solid fa-home"></i>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to "cart", class: 'block py-2 px-3 text-white font-bold hover:text-amber-400', aria_current: 'page' do %>
            <i class="fa-solid fa-cart-shopping"></i>
            Cart
          <% end %>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</nav>

