<div id="<%= dom_id product %>" class="w-96 bg-white border border-gray-200 rounded-lg shadow flex flex-col m-6">
  <%= link_to product do %>
      <% if product.photo.attached? %>
        <%= image_tag product.photo, class: "w-full h-48 object-cover" %>
      <% else %>
        <img src="placeholder_image_url" alt="Placeholder" class="w-full h-48 object-cover">
      <% end %>
  <% end %>
  <div class="flex-grow mx-4 p-1">
    <div class="flex flex-row justify-between">
      <%= link_to product do %>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 hover:text-gray-800"><%= product.title %></h5>
      <% end %>
      <p class="my-1"><%= product.category%></p>
    </div>

    <p class="mb-3 font-normal text-gray-700"><%= product.subtitle %></p>

    <p class="text-gray-900 font-semibold mb-2"><%= number_to_currency(product.price) %></p>
  </div>

  <div class="m-4">
    <div class="flex justify-between">
      <% if user_signed_in? && current_user.isadmin? %>
        <%= link_to edit_product_path(product), class: "btn btn-secondary mx-2" do %>
          Edit
        <% end %>
        <%= button_to product, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
          Delete
        <% end %>
      <% end %>
      <%= link_to product, class: "btn btn-primary-icon" do %>
        <i class="fa-solid fa-arrow-right"></i>
      <% end %>
    </div>
  </div>
</div>
