<div class="flex flex-col justify-center items-center">
  <h1 class=" my-4">Products</h1>

  <%= render partial: "checkboxes"%>

  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>

  <%= render partial: "shared/card" %>

  <%= link_to "New product", new_product_path, class: "btn btn-primary" %>

  <br><br>

  <%= link_to new_product_path, class: "btn btn-primary-arrow-right" do %>
    <i class="fa-solid fa-arrow-right"></i>
  <% end %>

  <br><br>

  <%= link_to new_product_path, class: "btn btn-secondary-arrow-right" do %>
    <i class="fa-solid fa-arrow-right"></i>
  <% end %>
</div>