<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <p class="text-green-500"><%= notice %></p>

  <%= render @product %>

  <% @products.each do |product| %>
  <div>
    <h2><%= product.name %></h2>
    <p><%= number_to_currency(product.price) %></p>
    <%= form_with url: cart_items_path, method: :post do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= number_field_tag :quantity, 1 %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div>
<% end %>


  <div class="mt-4">
    <%= link_to "Edit this product", edit_product_path(@product), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" %> |
    <%= link_to "Back to products", products_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2" %>

    <%= button_to "Destroy this product", @product, method: :delete, data: { confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>

#Test cart user_basket

<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %></p>

<%= form_with(url: cart_cart_products_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, value: 1, min: 1 %>
  </div>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit 'Add to Cart', class: 'btn-primary' %>
<% end %>

<%= link_to 'Back to Products', products_path, class: 'btn-secondary' %>

