<%= form_with(model: order_product) do |form| %>
  <% if order_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_product.errors.count, "error") %> prohibited this order_product from being saved:</h2>

      <ul>
        <% order_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :orders, style: "display: block" %>
    <%= form.text_field :orders %>
  </div>

  <div>
    <%= form.label :products, style: "display: block" %>
    <%= form.text_field :products %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
