<!DOCTYPE html>
<html>
  <head>
    <title>CoppaGabanna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col h-screen">

    <%= render partial: "shared/navbar" %>

    <main class="prose mx-auto flex-grow">
      <%= yield %>
    </main>

    <%= render partial: "shared/footer" %>
  </body>
</html>
