<!DOCTYPE html>
<html>
<head>
  <title>CoppaGabanna</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <nav class="bg-pink-900 border-gray-200 text-white" data-controller="navbar">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <%= link_to products_path, class: 'flex items-center space-x-3 rtl:space-x-reverse text-white' do %>
        <div class="w-16 h-16 fill-current text-white">
          <%= image_tag 'logos/logo_small.svg', alt: 'Logo' %>
        </div>
        <span class="self-center text-2xl font-sans whitespace-nowrap dark:text-white">Coppa & Gabana</span>
      <% end %>

<div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
  <button type="button" class="btn-secondary">Login</button>
  <button data-action="click->navbar#toggle" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-amber-500 focus:ring-2 focus:bg-amber-500 dark:bg-amber-500 dark:hover:bg-amber-500 dark:focus:bg-amber-500" aria-controls="navbar-sticky" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
    </svg>
  </button>
</div>
<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky" data-navbar-target="menu">
  <ul class="flex flex-col p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 font-sans">
    <li>
      <%= link_to '#', class: 'block py-2 px-3 text-white font-bold hover:text-amber-400', aria_current: 'page' do %>
        Home
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'block py-2 px-3 text-white font-bold hover:text-amber-400', aria_current: 'page' do %>
        Cart
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'block py-2 px-3 text-white font-bold hover:text-amber-400', aria_current: 'page' do %>
        Contact
      <% end %>
    </li>
  </ul>
</div>
</div>
</nav>

<main class="prose mx-auto">
  <%= yield %>
</main>
</body>
</html>
