<!DOCTYPE html>
<html>
  <head>
    <title>CoppaGabanna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
  </head>

  <body class="flex flex-col h-screen">

    <%= render partial: "shared/navbar" %>
    
    <main class="mx-auto flex-grow">
    <div class="container mx-auto my-4">
      <% flash.each do |type, message| %>
        <div class="p-4 mb-4 text-sm <%= flash_class_for(type) %> <%= flash_bg_class_for(type) %> rounded-lg border border-<%= flash_class_for(type) %>" role="alert">
          <span class="font-medium"><%= message %></span>
        </div>
      <% end %>
    </div>
      <%= yield %>
    </main>

    <%= render partial: "shared/footer" %>
  </body>
</html>
